@media screen and (max-width: 878px) {
    .content-container {
        display: flex;
        flex-direction: column;
    }
    .weather {
        position: inherit;
        margin-bottom: 15px;
    }

    .button-wrap {
        display: inline-flex;
        flex-direction: column;
    }

    .button {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 500px) {
    .weather {
        font-size: 25px;
    }
    .time {
        font-size: 36px;
    }

    .greet {
        flex-direction: column;
    }

    .quotes {
        padding: 0 10px;
    }

}